# Python sanal ortamı
.venv/

# Python geçici dosyaları
__pycache__/
*.pyc

# dbt tarafından üretilen dosyalar
target/
logs/
dbt_packages/

# DuckDB veritabanı dosyaları
*.duckdb
*.duckdb.wal

# VS Code ayarları
.vscode/
# Büyük ham veri dosyaları
use_case_3_modeling/data/raw/*

# Klasörün Git'te kalmasını sağlayan boş dosya
!use_case_3_modeling/data/raw/.gitkeep